<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- DataSource定義の取り込み -->
    <import resource="datasource-config.xml"/>

    <!-- 各種ComponentのScan設定(Viewに関するScanはMVC側の設定ファイルで実施 -->
    <context:component-scan base-package="jgs.bluemix.sample.service" />
    <context:component-scan base-package="jgs.bluemix.sample.repository" />
    <context:component-scan base-package="jgs.bluemix.sample.monitor" />

    <!-- cache関連の設定 -->
    <context:property-placeholder location="classpath:cache.properties" />
    <bean class="jgs.bluemix.sample.cache.CacheManager" init-method="init">
        <property name="enable" value="${cache.enable}" />
    </bean>
    <bean class="jgs.bluemix.sample.cache.ReviewCache" init-method="init" />

    <!-- MessageResourceの定義 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:message/application-messages" />
        <property name="cacheSeconds" value="0" />
    </bean>

    <!-- AOPの有効化 -->
    <aop:aspectj-autoproxy />

</beans>